@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

.hide {
  display: none;
}

.answer .checkbox .icon {
  opacity: 0;
}

.answer:hover .checkbox, .answer.selected .checkbox {
  background-color: #2e63f5;
  border-color: #2e63f5;
}

.wrong {
  border: 3px solid #ca2929 !important;
}

.correct {
  border: 3px solid #0fd630 !important;
}


button.btn.next {
  display: none;
}